[submodule "coredns"]
	path = scion-coredns
	url = https://github.com/netsys-lab/scion-coredns.git
	branch = rhine
[submodule "scion-rdig"]
	path = scion-rdig
	url = https://github.com/netsys-lab/scion-rdig.git
[submodule "scion-sdns"]
	path = scion-sdns
	url = https://github.com/netsys-lab/scion-sdns.git
[submodule "scion-docker-compose"]
	path = scion-docker-compose
	url = git@github.com:netsys-lab/scion-docker-compose.git
